<!--
<%@ page isELIgnored="false" language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
--> 
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org "  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Product Management Application</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
</head>
<body>
<header>
		<nav class="navbar navbar-expand-md navbar-dark"
			style="background-color: rgba(52, 140, 235)">
			<div>
				<a href="/" class="navbar-brand">
					Product Management App </a>
			</div>
			<ul class="navbar-nav">
				<li><a href="/display"
					class="nav-link">Products</a></li>
			</ul>
			<ul class="nav navbar-nav ml-auto" style="margin-right: 40px;">
				<li class="nav-item">
				<a href="/logout" class="nav-link"><span class="fas fa-user" style="color: white;">Logout</span></a>
				
				</li>
				<li class="nav-item">
		
				<a href="/login" class="nav-link"><span class="fas fa-sign-in-alt" style="color: white;">Login</span></a>
				</li>
			</ul>
		</nav>

		<!-- <div class="alert alert-success" *ngIf='message'>{{message}}</div> -->

		<div class="container">
			<h3 style="margin-top: 30px;"class="text-center">List of Products</h3>
			<hr>
			<div class="container text-left">

				<a href="/add" class="btn btn-info">Add
					New Product</a>
			</div>
			<br>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>PRICE</th>
						<th>QUANTITY</th>
						<th>TOTAL</th>
						<th>ACTIONS</th>
					</tr>
				</thead>
				<tbody>
				
						<tr th:each="product: ${productList}">
							<td th:text="${product.id}"></td>
							<td th:text="${product.name}"></td>
							<td th:text="${product.price}"></td>
							<td th:text="${product.quantity}"></td>		
							<td th:text="${product.total}"></td>						
							<td> <a th:href="@{/product/update/{id}(id=${product.id})}" class="btn btn-primary ">Update</a>
					    		 <a th:href="@{/product/delete/{id}(id=${product.id})}" class="btn btn-danger ">Delete</a>
							</td>
						</tr>

				</tbody>

			</table>
		</div>
	</div>


</body>
</html>